<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board - Homepage</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <%- include('navbar', { links: links }) %>
    <main>
      <header>Homepage</header>
      <ul>
        <% messages.forEach((message, id) => { %>
          <li>
            <p><%= message.user %>: <%= message.text %></p>
            <p><%- message.added.toDateString() %></p>
            <a href="/messages/<%= id %>">View</a>
          </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>